@charset "UTF-8";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.card {
  position: relative;
  float: left;
  margin: 10px;
  opacity: 1.0;
  transform: rotateY(0deg);
  transition: transform 1s, opacity 1.0s;
  transform-style: preserve-3d;

  &.selected {
    transform: rotateY(180deg);
  }
  
  &.matched {
    opacity: 0;
  }

  &, 
  &:before, 
  &:after {
    display: block;
    height: $cardHeight;
    width: $cardWidth;
  }
  
  &:before,
  &:after {
    backface-visibility: hidden;
    border-radius: 10px 10px;
    content: "";
    left: 0px;
    position: absolute;
    top: 0;
  }
  
  &:before{
    background: transparent url(https://openclipart.org/image/2400px/svg_to_png/171444/oxygen-white.png&disposition=attachment) no-repeat scroll -12px -653px;
    transform: rotateY(180deg);
  }
  
  &:after {
    background: transparent url(https://openclipart.org/image/2400px/svg_to_png/171444/oxygen-white.png&disposition=attachment) no-repeat scroll -12px -905px;
  }
}

@include cards;